<!-- this is actually the 'edit' page -->

<script src="/js/select2.min.js"></script>

<div id="geolocation" >
</div>


<div class="legendary osw">
  <legend>BASIC INFORMATION</legend>
</div>


<%= form_tag({controller: "users", action: "updateSurvey"}, method: "post", :class => "form-horizontal") do %>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="checkboxes">What instruments do you play?:</label>
      <div class="col-md-4">
        <label class="checkbox-inline f1" >
            <%= check_box_tag "instrument[]", 'Guitar' %> Guitar <br><%= image_tag("instruments/guitar.png", alt: "Guitar", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1">
          <%= check_box_tag "instrument[]", 'Bass' %> Bass <br><%= image_tag("instruments/bass.png", alt: "Bass", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "instrument[]", 'Vocals' %> Vocals <br><%= image_tag("instruments/vocals.png", alt: "Vocals", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "instrument[]", 'Drums' %> Drums <br><%= image_tag("instruments/drums.png", alt: "Drums", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "instrument[]", 'Keyboard' %> Keyboard <br><%= image_tag("instruments/keyboard.png", alt: "Keyboard", class: "img-circular invert") %>
        </label>
      </div>
    </div>
    
    <!-- Select2 -->
    <div class="form-group legendary osw">
      <label class="col-md-4 control-label"> What instruments do you play?</label>
      <div class="col-md-4">
        <%= select_tag "instrument", options_for_select(instruments), multiple: true, id: "selector", class: "form-control", placeholder: "Enter an instrument" %>
      </div>
    </div>
    
    <!-- Prior: "<option>Guitar</option>".html_safe --->

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="checkboxes">Artists you are looking for:</label>
      <div class="col-md-4">
        <label class="checkbox-inline f1" >
            <%= check_box_tag "looking[]", 'Guitar' %> Guitar <br><%= image_tag("instruments/guitar.png", alt: "Guitar", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "looking[]", 'Bass' %> Bass <br><%= image_tag("instruments/bass.png", alt: "Bass", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "looking[]", 'Vocals' %> Vocals <br><%= image_tag("instruments/vocals.png", alt: "Vocals", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "looking[]", 'Drums' %> Drums <br><%= image_tag("instruments/drums.png", alt: "Drums", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "looking[]", 'Keyboard' %> Keyboard <br><%= image_tag("instruments/keyboard.png", alt: "Keyboard", class: "img-circular invert") %>
        </label>
      </div>
    </div>


    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="checkboxes">Genres:</label>
      <div class="col-md-4">
        <label class="checkbox-inline f1" >
          <%= check_box_tag "genre[]", 'Rockabilly' %> Rockabilly 
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "genre[]", 'Metalcore' %> Metalcore
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "genre[]", 'Future Bass' %> Future Bass
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "genre[]", 'Experimental' %> Experimental
        </label>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="checkboxes">Interest level:</label>
      <div class="col-md-4">
        <label class="f3">
          <%= radio_button_tag "interest_level", ' I just want to jam!' %> I just want to jam!
        </label>
        <label class="f3">
          <%= radio_button_tag "interest_level", 'I want to start a band!' %> I want to start a band!
        </label>
        <label class="f3">
          <%= radio_button_tag "interest_level", 'I\'m open to jamming and starting a band!' %> I'm open to both!     
        </label>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput">Influence:</label>
      <div class="col-md-4">
        <%= text_field_tag :influence, nil, placeholder: "Enter your influences here! (seperated by commas)", maxlength: 200, :size => 50, :required => true %>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput">Personal Media URL:</label>
      <div class="col-md-4">
        <%= text_field_tag :url, nil, placeholder: "Add a YouTube/Soundcloud link of you playing!", maxlength: 200, :size => 75, :required => false %>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput">Bio:</label>
      <div class="col-md-4">
        <%= text_area_tag :bio, nil, placeholder: "Add a blurb about yourself!", :required =>true, cols: 49.8 %>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput">Radius:</label>
      <div class="col-md-4">
        <%= text_field_tag :radius, nil, placeholder: "Between 10 to 100 miles", maxlength: 3, :size => 50, :required =>true%>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput"></label>
      <div class="col-md-4">
        <%= submit_tag "Continue" %>
      </div>
    </div>

<% end %>

</div>

<script type="text/javascript">
  $('#selector').select2({
    //theme: "bootstrap"
    placeholder: "Select an instrument!"
  });
</script>