
<legend>BASIC INFORMATION</legend>

<%= form_tag({controller: "users", action: "updateSurvey"}, method: "post") do %>
  
  <div.text-center class="form-group">
    <label class="col-md-4 control-label" for="radios">Instruments:</label>
    <div class="col-md-4">
      <div class="radio">
        <label for="radios-0">
          <%= radio_button_tag :instrument, 'Guitar' %> Guitar
        </label>
      </div
    
    <div class="radio">
      <label for="radios-1">
        <%= radio_button_tag :instrument, 'Bass' %> Bass
      </label>
    </div>
    
    <div class="radio">
      <label for="radios-2">
        <%= radio_button_tag :instrument, 'Drums' %> Drums
      </label>
     </div>
    <div class="radio">
      <label for="radios-3">
        <%= radio_button_tag :instrument, 'Vocals' %> Vocals
      </label>
    </div>
    <div class="radio">
      <label for="radios-4">
        <%= radio_button_tag :instrument, 'Producer' %> Producer
      </label>
    </div>
    
    </div>
  </div>


  <%= label_tag(:exp, "Experience:") %>
  <%= text_field_tag(:exp) %>

  <%= label_tag(:genre, "Genre:") %>
  <%= text_field_tag(:genre) %>

  <%= label_tag(:influence, "Influence:") %>
  <%= text_field_tag(:influence) %>

  <%= label_tag(:url, "Url:") %>
  <%= text_field_tag(:url) %>

  <%= label_tag(:provider, "Provider:") %>
  <%= text_field_tag(:provider) %>

  <%= label_tag(:bio, "Bio:") %>
  <%= text_area_tag(:bio) %>

  <%= submit_tag("Submit") %>
<% end %>


