<%= form_for(@user) do |f| %>
  <h1>Welcome to Mezzo <%= @user.name %></h1>
  <p></p>
  <h3>Which instruments do you play?</h3>
  <div class="container-fluid">
    <div class="row" style="background-color:lightcyan;">

      <div class="col-xs-3">
        <%= f.label :guitar %>
        <%= f.check_box :guitar, { class: 'checkbox-inline' }, "1", "0" %>
        <%= image_tag('Instruments/guitar.png', width: '75', height: '75', class: 'img-circle') %>
      </div>

      <div class="col-xs-3">
        <%= f.label :drum, 'Drums' %>
        <%= f.check_box :drum, { class: 'checkbox-inline' }, "1", "0" %>
        <%= image_tag('Instruments/drums.jpg', width: '75', height: '75', class: 'img-circle') %>
      </div>

      <div class="col-xs-3">
        <%= f.label :bass, 'Bass Guitar' %>
        <%= f.check_box :bass, { class: 'checkbox-inline' }, "1", "0" %>
        <%= image_tag('Instruments/bass.png', width: '75', height: '75', class: 'img-circle') %>
      </div>

      <div class="col-xs-3">
        <%= f.label :sing, 'Vocalist' %>
        <%= f.check_box :sing, { class: 'checkbox-inline' }, "1", "0" %>
        <%= image_tag('Instruments/sing.png', width: '75', height: '75', class: 'img-circle') %>
      </div>
    </div>

    <div class="row"">
      <div class="col-xs-11">
        <%= f.submit "Save Preferences", class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>
<% end -%>


