<!-- this is actually the 'edit' page -->

<div id="geolocation" >
</div>


<div class="legendary osw">
  <legend>BASIC INFORMATION</legend>
</div>


<%= form_tag({controller: "users", action: "updateSurvey"}, method: "post", :class => "form-horizontal") do %>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="checkboxes">What instruments do you play?:</label>
      <div class="col-md-4">
        <label class="checkbox-inline f1" >
            <%= check_box_tag "instrument[]", 'Guitar' %> Guitar <br><%= image_tag("instruments/guitar.png", alt: "Guitar", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1">
          <%= check_box_tag "instrument[]", 'Bass' %> Bass <br><%= image_tag("instruments/bass.png", alt: "Bass", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "instrument[]", 'Vocals' %> Vocals <br><%= image_tag("instruments/vocals.png", alt: "Vocals", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "instrument[]", 'Drums' %> Drums <br><%= image_tag("instruments/drums.png", alt: "Drums", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "instrument[]", 'Keyboard' %> Keyboard <br><%= image_tag("instruments/keyboard.png", alt: "Keyboard", class: "img-circular invert") %>
        </label>
      </div>
    </div>

<!--

    <div class="legendary osw">
      <label class="col-md-4 control-label">What instruments do you play?:</label>
      <div class="col-md-4">
          <%= select_tag(:instrument_id, options_for_select([['Guitar', 1],['Bass', 2],['Vocals', 3],['Drums', 4],['Keyboard',5]]), :multiple => true, class: "") %>
          
      </div>
    </div>
    
    -->

    <div class="control-group">
        <label for="s2id_autogen2" class="control-label">Select2 multi select</label>
        <div class="controls">
          <div class="select2-container select2-container-multi select2" id="s2id_multiple" style="width: 400px;"><ul class="select2-choices">  <li class="select2-search-field">    <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input select2-default" id="s2id_autogen2" style="width: 388px;">  </li></ul></div><select id="multiple" class="select2 select2-offscreen" multiple="multiple" style="width:400px;" tabindex="-1">
            <option></option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
          </select>
        </div>
      </div>
  

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="checkboxes">Artists you are looking for:</label>
      <div class="col-md-4">
        <label class="checkbox-inline f1" >
            <%= check_box_tag "looking[]", 'Guitar' %> Guitar <br><%= image_tag("instruments/guitar.png", alt: "Guitar", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "looking[]", 'Bass' %> Bass <br><%= image_tag("instruments/bass.png", alt: "Bass", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "looking[]", 'Vocals' %> Vocals <br><%= image_tag("instruments/vocals.png", alt: "Vocals", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "looking[]", 'Drums' %> Drums <br><%= image_tag("instruments/drums.png", alt: "Drums", class: "img-circular invert") %>
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "looking[]", 'Keyboard' %> Keyboard <br><%= image_tag("instruments/keyboard.png", alt: "Keyboard", class: "img-circular invert") %>
        </label>
      </div>
    </div>


    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="checkboxes">Genres:</label>
      <div class="col-md-4">
        <label class="checkbox-inline f1" >
          <%= check_box_tag "genre[]", 'Rockabilly' %> Rockabilly 
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "genre[]", 'Metalcore' %> Metalcore
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "genre[]", 'Future Bass' %> Future Bass
        </label>
        <label class="checkbox-inline f1" >
          <%= check_box_tag "genre[]", 'Experimental' %> Experimental
        </label>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="checkboxes">Interest level:</label>
      <div class="col-md-4">
        <label class="f3">
          <%= radio_button_tag "interest_level", ' I just want to jam!' %> I just want to jam!
        </label>
        <label class="f3">
          <%= radio_button_tag "interest_level", 'I want to start a band!' %> I want to start a band!
        </label>

        <label class="f3">
          <%= radio_button_tag "interest_level", 'I\'m open to jamming and starting a band!' %> I'm open to both!     

        </label>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput">Influence:</label>
      <div class="col-md-4">
        <%= text_field_tag :influence, nil, placeholder: "Enter your influences here! (seperated by commas)", maxlength: 200, :size => 50, :required => true %>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput">Personal Media URL:</label>
      <div class="col-md-4">
        <%= text_field_tag :url, nil, placeholder: "Add a YouTube/Soundcloud link of you playing!", maxlength: 200, :size => 75, :required => false %>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput">Bio:</label>
      <div class="col-md-4">
        <%= text_area_tag :bio, nil, placeholder: "Add a blurb about yourself!", :required =>true, cols: 49.8 %>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput">Radius:</label>
      <div class="col-md-4">
        <%= text_field_tag :radius, nil, placeholder: "Between 10 to 100 miles", maxlength: 3, :size => 50, :required =>true%>
      </div>
    </div>

    <div class="form-group legendary osw">
      <label class="col-md-4 control-label" for="textinput"></label>
      <div class="col-md-4">
        <%= submit_tag "Continue" %>
      </div>
    </div>

<% end %>

</div>

<script type="text/javascript">
    $('select').select2();
</script>

<script>
      $('.select2').select2({ placeholder : '' });

      $('.select2-remote').select2({ data: [{id:'A', text:'A'}]});

      $('button[data-select2-open]').click(function(){
        $('#' + $(this).data('select2-open')).select2('open');
      });
</script>
  
<script type="text/javascript">
  $(".basic-multiple").select2();
</script>

<div class="select2-sizer" style="position: absolute; left: -10000px; top: -10000px; display: none; font-size: 14px; font-family: sans-serif; font-style: normal; font-weight: normal; letter-spacing: normal; text-transform: none; white-space: nowrap;"></div>
  
  
  <div class="select2-drop select2-drop-multi select2-display-none select2-drop-active" style="display: none; top: 280px; left: 220px; width: 400px;">
    <ul class="select2-results"></ul>
  </div>
  
  
  <div class="select2-drop select2-drop-multi select2-display-none select2-drop-active" style="display: none; top: 280px; left: 220px; width: 400px;">
    <ul class="select2-results"></ul>
  </div>
  
  <div class="select2-drop select2-display-none select2-with-searchbox select2-drop-active" style="display: none; top: 580px; left: 220px; width: 90px;">
    <div class="select2-search">
      <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">
    </div>
    <ul class="select2-results"></ul>
  </div>