

<div class="legendary">
  <legend>BASIC INFORMATION</legend>
</div>

<%= form_tag({controller: "users", action: "updateSurvey"}, method: "post", :class => "form-horizontal") do %>

    <div class="form-group legendary">
      <label class="col-md-4 control-label" for="checkboxes">Instruments:</label>
      <div class="col-md-4">
        <label class="checkbox-inline" >
            <%= check_box_tag "instrument[]", 'Guitar' %> Guitar <br>
              <%= image_tag("instruments/guitar.png", alt: "Guitar") %>
        </label>
        <label class="checkbox-inline">
          <%= check_box_tag "instrument[]", 'Bass' %> Bass <br><%= image_tag("instruments/bass.png", alt: "Bass") %>
        </label>
        <label class="checkbox-inline" >
          <%= check_box_tag "instrument[]", 'Vocals' %> Vocals <br><%= image_tag("instruments/vocals.png", alt: "Vocals") %>
        </label>
        <label class="checkbox-inline" >
          <%= check_box_tag "instrument[]", 'Drums' %> Drums <br><%= image_tag("instruments/drums.png", alt: "Drums") %>
        </label>
        <label class="checkbox-inline" >
          <%= check_box_tag "instrument[]", 'Keyboard' %> Keyboard <br><%= image_tag("instruments/keyboard.png", alt: "Keyboard") %>
        </label>
      </div>
    </div>
    
    <div class="form-group legendary">
      <label class="col-md-4 control-label" for="checkboxes">Artists you are looking for:</label>
      <div class="col-md-4">
        <label class="checkbox-inline" >
            <%= check_box_tag "looking[]", 'Guitar' %> Guitar <br><%= image_tag("instruments/guitar.png", alt: "Guitar") %>
        </label>
        <label class="checkbox-inline" >
          <%= check_box_tag "looking[]", 'Bass' %> Bass <br><%= image_tag("instruments/bass.png", alt: "Bass") %>
        </label>
        <label class="checkbox-inline" >
          <%= check_box_tag "looking[]", 'Vocals' %> Vocals <br><%= image_tag("instruments/vocals.png", alt: "Vocals") %>
        </label>
        <label class="checkbox-inline" >
          <%= check_box_tag "looking[]", 'Drums' %> Drums <br><%= image_tag("instruments/drums.png", alt: "Drums") %>
        </label>
        <label class="checkbox-inline" >
          <%= check_box_tag "looking[]", 'Keyboard' %> Keyboard <br><%= image_tag("instruments/keyboard.png", alt: "Keyboard") %>
        </label>
      </div>
    </div>


    <div class="form-group legendary">
      <label class="col-md-4 control-label" for="checkboxes">Genres:</label>
      <div class="col-md-4">
        <label class="checkbox-inline" for="checkboxes-a0">
          <%= check_box_tag "genre[]", 'Rockabilly' %> Rockabilly
        </label>
        <label class="checkbox-inline" for="checkboxes-a1">
          <%= check_box_tag "genre[]", 'Metalcore' %> Metalcore
        </label>
        <label class="checkbox-inline" for="checkboxes-a2">
          <%= check_box_tag "genre[]", 'Future Bass' %> Future Bass
        </label>
        <label class="checkbox-inline" for="checkboxes-a3">
          <%= check_box_tag "genre[]", 'Experimental' %> Experimental
        </label>
      </div>
    </div>

    <div class="form-group legendary">
      <label class="col-md-4 control-label" for="textinput">Influence:</label>
      <div class="col-md-4">
        <!-- <input id="textinput" name="textinput" type="text" placeholder="Enter your influences" class="form-control input-md"> -->
        <%= text_field_tag :influence, nil, placeholder: "Enter your influences here", maxlength: 200, :size => 50, :required => true %>
      </div>
    </div>

    <div class="form-group legendary">
      <label class="col-md-4 control-label" for="textinput">Media:</label>
      <div class="col-md-4">
        <!-- <input id="textinput" name="textinput" type="text" placeholder="Enter your influences" class="form-control input-md"> -->
        <%= text_field_tag :url, nil, :required => true %>
      </div>
    </div>

    <div class="form-group legendary">
      <label class="col-md-4 control-label" for="textinput">Bio:</label>
      <div class="col-md-4">
        <%= text_area_tag :bio, nil, :required =>true %>
      </div>
    </div>

    <div class="form-group legendary">
      <label class="col-md-4 control-label" for="textinput"></label>
      <div class="col-md-4">
        <!-- <input id="textinput" name="textinput" type="text" placeholder="Enter your influences" class="form-control input-md"> -->
        <%= submit_tag "Submit" %>
      </div>
    </div>

<% end %>

</div>

