<%= form_tag({controller: "users", action: "updateSurvey"}, method: "post") do %>
    <%= label_tag(:instrument, "Instrument:") %>
    <%= text_field_tag(:instrument) %>

    <%= label_tag(:exp, "Experience:") %>
    <%= text_field_tag(:exp) %>

    <%= label_tag(:genre, "Genre:") %>
    <%= text_field_tag(:genre) %>

    <%= label_tag(:influence, "Influence:") %>
    <%= text_field_tag(:influence) %>

    <%= label_tag(:url, "Url:") %>
    <%= text_field_tag(:url) %>

    <%= label_tag(:provider, "Provider:") %>
    <%= text_field_tag(:provider) %>

    <%= label_tag(:bio, "Bio:") %>
    <%= text_area_tag(:bio) %>

    <%= submit_tag("Submit") %>
<% end %>







</div>