<%= render :partial => 'profile' %>

<%= form_tag({controller: "users", action: "matchChoice"}, method: "post") do %>
      <%= hidden_field_tag :id , @user.id %>
      <%= button_tag(name: 'like', type: 'submit', class: "btn btn btn-primary") do %>
          <span class="glyphicon glyphicon-ok"></span>
      <% end %>
      <%= button_tag(name: 'dislike', type: 'submit', class: "btn btn btn-primary") do %>
          <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    <% end %>

</div>
