<div class="col-lg-12 col-sm-12">
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg" alt="" src="<%= @user.image %>?type=large">
      <!-- http://lorempixel.com/850/280/people/9/ -->
    </div>
    <div class="useravatar">
      <img alt="" src="<%= @user.image %>?type=large">
    </div>
    <div class="card-info"> <span class="card-title"><%= @user.name %></span>

    </div>
  </div>
  <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <div class="hidden-xs">Bio</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>
        <div class="hidden-xs">Instruments</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <div class="hidden-xs">Influences</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="following" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
        <div class="hidden-xs">Media</div>
      </button>
    </div>
  </div>

  <div class="well">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <h3><%= @user.bio %></h3>
      </div>
      <div class="tab-pane fade in" id="tab2">
        <h3>
          <table>
          <tr>
            <th>Instruments</th>
          </tr>
          <% @user.instruments.each do |instrument| %>
              <tr>
                <td><%= instrument.instrument %></td>
              </tr>
          <% end %>
         </table>
        </h3>
      </div>
      <div class="tab-pane fade in" id="tab3">
        <h3>
          <table>
              <tr>
                <th>Genres</th>
              </tr>
              <% @user.genres.each do |genre| %>
                  <tr>
                    <td><%= genre.genre %></td>
                  </tr>
              <% end %>
          </table>
        </h3>
      </div>

      <div class="tab-pane fade in" id="tab4">
        <h3>
          <% @user.mediums.each do |link| %>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="<%= link.url %>" allowfullscreen></iframe>
              </div>
              <br>
          <% end %>

        </h3>
      </div>

    </div>
  </div>

</div>

