<div class="container">
  <div class="row">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
      <ul class="event-list">
        <% @events_title.zip @events_descript,@events_date,@events_month,@events_venue,@events_url do |event| %>
            <li>
              <time datetime="2014-07-20">
                <span class="day"><%= event[2] %></span>
                <span class="month"><%= event[3] %></span>
              </time>
              <!--<img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />-->
              <!--<img alt="Error in loading image" src= "http://s3.evcdn.com/images/small/I0-001/024/914/590-7.png_/foxen-world-pinot-noir-90.png" />-->
              <div class="info">
                <h2 class="title"><%= event[0] %></h2>
                <p class="desc"><%= event[1] %></p>
                <!--<p class="url"><%= event[5] %></p>-->
                <p class="url"><a href=<%= event[5] %> title="Go To Site"><%= event[5] %></a></p>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
