<!-- Currently just shows all users -->

<% @users.each do |user| %>

    <div class="media osw">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= user.image %>" alt="...">
        </a>
      </div>
      <div class="media-body">

        <h4 class="media-heading"><%= link_to user.name, user_path(user.id) %></h4>
        <%= link_to "MESSAGES", user_match_msg_path(user.id) %>
        <a hfef="#" class="video">VIDEO</a>
      </div>
    </div>
<% end %>
<button id="close">CLOSE</button>
<div id="videosContainer">
  <video id = "forVid"  autoplay="true"></video>
</div>


<script>

  //var peer = new Peer(<%= current_user.id %>, {key: 'zyjq7np7zz8y3nmi'});
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia  || navigator.mozGetUserMedia || navigator.msGetUserMedia;


  var myS;
  var peerS;

  $('#close').click(function() {
    if(myS) {
      myS.getTracks().forEach(function (track) { track.stop(); });
    }
    else if(peerS) {
      peerS.getTracks().forEach(function (track) { track.stop(); });
    }
  });
  var peer = new Peer(<%= current_user.id %>, {key: 'j4ufp4i0c0hk6gvi'});
  peer.on('open', function(id) {
    console.log('My peer ID is: ' + id);
  });

  peer.on('connection', function(conn) {
    conn.on('open', function() {
      console.log("connection recieved from " + conn.peer);

      conn.on('data', function(data) {
        console.log("Reciever recieved data", data);
      });
    });
  });

  var errorReturnStream = function() {
    console.log("error returning stream.");
  };

  var errorSendStream = function() {
    console.log("error sending stream.");
  };
  peer.on('call', function(call) {
    console.log("getting call");
    if(navigator.getUserMedia) {
      navigator.getUserMedia({audio: true, video:true}, function(myStream) {
        peerS = myStream;
        call.answer(myStream);
        call.on('stream', function(remoteStream) {
          console.log("remote stream returned");
          $('#forVid').css({
            'width' : '80%'
          });
          var video = document.querySelector('#forVid');
          video.src = window.URL.createObjectURL(remoteStream);
        });
      }, function() {
        console.log(" error return stream");
      });
    }

  });


  $('.video').click(function() {
    if(navigator.getUserMedia) {
      console.log("media exists");
      navigator.getUserMedia({audio: true, video:true}, function(myStream) {
        myS = myStream;
        var call = peer.call(15, myStream);
        call.on('stream', function(remoteStream) {
          console.log("remote stream returned");
          $('#forVid').css({
            'width' : '80%'
          });
          var video = document.querySelector('#forVid');
          video.src = window.URL.createObjectURL(remoteStream);
        });
      }, function() {
        console.log("error send str");
      });


    }else {
      console.log("no media");
    }


  });


</script>
