<!DOCTYPE html>
<html>
<head>
  <title>Single Video</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
 
  <%= tabs %>
  <br>
  <div class = "bioLayout">
    <img class = "pic" src="http://dac.cs.vt.edu/wp-content/uploads/2015/09/person-thumbnail.png" >
    <div class = "bio">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt turpis enim, id imperdiet augue dictum ut. Etiam faucibus gravida commodo. Integer vehicula purus ac lacinia vestibulum. Quisque bibendum, augue nec ullamcorper elementum, nibh dui scelerisque urna, et posuere tellus nisl sit amet ex. Aenean at lorem volutpat libero blandit porta sit amet sed lorem. Mauris porttitor, mi eu fringilla porttitor, urna est facilisis est, id luctus dolor mi at mauris. Sed metus orci, consequat vitae massa commodo, consequat pulvinar ju
    </div>
  </div>
  
  
  
  
  <hr>
  <hr>
  
  <%= form_for :video_Url do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </p>
 
  <p>
    <%= f.submit "Save Video"%>
  </p>
  <% end %>
  
  <%= yield %>
 
</body>
</html>