<!DOCTYPE html>
<html>
<head>
  <title>Mezzo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
  <body>
  
  <!-- navbar-inverse  -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- <h1><%= link_to root_path do %>Mezzo<% end %></h1> -->
        <%= link_to "mezzo", '#', id: "logo" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_page?(:controller => 'home', :action => 'home') %>
              <% else %>
          <li><%= link_to "Profile", user_path(current_user.id), id: "profile" %></li>
          <li><%= link_to "Matches", user_matches_path(current_user.id), id: "profile" %></li>
              <% end %>
          <% if current_user %>
		        <% if false %>
                      <li>Signed in as: <%= current_user.name %> - <%= image_tag(@auth['info']['image'], width: '50', height: '50', class: 'img-circle') %></li>
		        <% end %>
	          <li>Signed in as: <%= current_user.name %> </li>
              <li><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
              <% else %>
              <li>Sign in<%= link_to "auth/facebook" do %><%= image_tag('facebook.png', width: '40', height: '40', class: 'img-circle') %><% end %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
  <% flash.each do |key, value| %>
      <div class="alert alert-info"><%= value %></div>
  <% end %>
  
  
  <%= yield %>
  <%= render 'layouts/footer' %>
  
  </body>
</html>
