<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mezzo</title>
  
  <script src="../javascripts/jquery.js"></script>
  <script src="../javascripts/scripts.js"></script>
  <!-- Include jQuery library using a CDN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  
  <!-- Bootstrap & jQuery-->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  
  <!-- Select2 -->
  <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" /> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script> -->
  <script src="//select2.github.io/select2/select2-master/select2.js"></script>

  <!-- <script type="text/javascript" src="http://davidstutz.github.io/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script> -->
  <!-- <link rel="stylesheet" href="http://davidstutz.github.io/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" type="text/css"/> -->


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link rel="icon" type="image/png" href="assets/tab_image.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="js/bootstrap.js"></script>

  <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
  
  <!-- navbar-inverse  -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        
        <%= link_to image_tag("mezzo_title_logo.png"), root_path, id: "logo" %>

      </div>
  
  
      <div class="collapse navbar-collapse osw" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="osw"> <!-- Find Matches -->
              <%= link_to find_match_path, id: "icon" do %>
                <span class="fa fa-search fa-2x" align="center"><div class="osw"><font size="4">Find Matches</font></div></span>
            <% end %>
            </li>
            <li class="osw"> <!-- Messages -->
              <%= link_to messages_list_path(current_user.id), id: "icon" do %>
                <span class="fa fa-weixin fa-2x" align="center"><div class="osw"><font size="4">Messages</font></div></span> 
              <% end %>
            </li>

              <li class="osw"> <!-- Events -->
                <%= link_to events_path, id: "icon" do %>
                    <span class="fa fa-calendar fa-2x" align="center"><div class="osw"><font size="4">Events</font></div></span>
                <% end %>
              </li>
            
            <li class="osw"> <!-- Matched page -->
              <%= link_to user_matches_path(current_user.id), id: "icon" do %>
                <span class="fa fa-users fa-2x" align="center"><div class="osw"><font size="4">Matches</font></div></span>
              <% end %>
            </li>
            
            <% if filledSurveyPage %>
              <li class="osw"> <!-- Profile page -->
                <%= link_to user_path(current_user.id), id: "icon" do %>
                  <span class="fa fa-user fa-2x" align="center"><div class="osw"><font size="4">Profile</font></div></span> 
                <% end %>
              </li>
              <li class="osw"> <!-- Settings page -->
                <%= link_to edit2_path, id: "icon" do %>
                  <span class="fa fa-cog fa-2x" align="center"><div class="osw"><font size="4">Settings</font></div></span>
                <% end %>
              </li>
            <% else %> <!-- Survey page not done, route to survey page -->
              <li class="osw"> <!-- Profile page -->
                <%= link_to edit_path, id: "icon" do %>
                  <span class="fa fa-user fa-2x" align="center"><div class="osw"><font size="4">Profile</font></div></span>
                <% end %>
              </li>
              <li class="osw"> <!-- Settings page -->
                <%= link_to edit_path, id: "icon" do %>
                  <span class="fa fa-cog fa-2x" align="center"><div class="osw"><font size="4">Update Profile</font></div></span> 
                <% end %>
              </li>
	          <% end %>
	          
            <li class="osw"> <!-- Signout method -->
              <%= link_to sign_out_path, method: :delete, id: "signout" do %>
                <span class="fa fa-sign-out fa-2x" align="center"><div class="osw"><font size="4">Sign Out</font></div></span>
              <% end %>
            </li>
          <% else%> <!-- No current user logged in -->
            <li class="osw"> <!-- FB Login method -->
              <%= link_to "auth/facebook", id: "signin" do %>
                <span class="fa fa-facebook-official fa-3x" align="center"><div class="osw"><font size="6">Login</font></div></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- <br><br><br> -->
  
  <% flash.each do |key, value| %>
      <div class="alert alert-info"><%= value %></div>
  <% end %>



  <%= yield %>
  <%= render 'layouts/footer' %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- <script src="js/bootstrap.js"></script> -->

  <script type="text/javascript">
    $('basic-multiple').select2();
  </script>
  <!--
  <script>
      $('.select2').select2({ placeholder : '' });

      $('.select2-remote').select2({ data: [{id:'A', text:'A'}]});

      $('button[data-select2-open]').click(function(){
        $('#' + $(this).data('select2-open')).select2('open');
      });
  </script>
  -->

  
  </body>
</html>